<div class="container mt-4 p-3">
  <div class="card card-lego-form">
    <div class="card-header text-center p-2">
      <h2>Add Your Lego Set</h2>
    </div>
    <div class="card-body">
      <%= simple_form_for(@lego) do |f| %>
        <div class="form-group">
          <%= f.input :set_name, label: "Set Name", input_html: {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.input :lego_nr, label: "Lego Number", input_html: {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.input :release_year, label: "Release Year", input_html: {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.input :price_per_day, label: "Price per Day", input_html: {class: "form-control"} %>
          </div>
        <div class="form-group">
          <%= f.input :photo, as: :file %>
        </div>
        <div class="text-center d-grid gap-2">
          <%= f.submit "Add Set", class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
