<div class="container mt-5">
  <div class="card-lego">
    <% if @lego.photo.attached? %>
      <%= cl_image_tag @lego.photo.key, class: "lego-img"%>
      <% else %>
        <img src="https://www.lego.com/cdn/cs/set/assets/bltfbd377eafb67041a/76417.png" alt="" class="lego-img">
      <% end %>
    <div class="card-content">
    <div class="card-lego-infos">

      <div>
        <h2 class="card-title py-2"><%= @lego.set_name %>:</h2>
        <h6>Lego Set Number:</h6>
        <p><strong><%= @lego.lego_nr %></strong></p>
        <h6>Release Year:</h6>
        <p><strong><%= @lego.release_year %></strong></p>
        <h6>Price:</h6>
        <p><strong><%= @lego.price_per_day %>€/per day</strong></p>
      </div>

      <h2 class="card-lego-price m-5"><%= @lego.price_per_day %>€</h2>
    </div>

    <div class="card-body">
          <h5 class="mb-3" style="text-shadow: 1px 1px 1px gray"><strong>Description:</strong></h5>
          <p class="text-muted"><%= @lego.description %></p>
     </div>

    <div class="card-footer d-flex mb-3">
    <% if @lego.user == current_user %>
      <%= link_to 'Edit', edit_lego_set_path(@lego), class:"btn btn-dark me-auto p-2 m-1"%>      <%= link_to 'Your renters', lego_set_bookings_path(@lego), class:"btn btn-info p-2 m-1"%>
      <%= link_to "Delete", lego_set_path(@lego), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} , class:"btn btn-warning p-2 m-1"%>
    <% else %>
      <%= link_to 'Book this set!', new_lego_set_booking_path(@lego), class: 'btn btn-success p-2 m-1' %>
    <% end %>
    </div>
      
    </div>
  </div>
</div>
