<h1 class="text-center mt-3"> <strong> Booking requests to : <%= @lego.set_name %></strong></h1>

  <div class="container mt-5">
  <div class="card card-lego">
    <img src="https://wallpapercave.com/wp/wp2350530.jpg" alt="Lego Set Image" class="lego-img" />
    <div class="card-lego-infos">

      <div>
        <h2 class="card-title py-2"><strong><%= @lego.set_name %>:</strong></h2>
        <p>Lego Set Number: <strong><%= @lego.lego_nr %></strong></p>
        <p>Release Year: <strong><%= @lego.release_year %></strong></p>
      </div>

      <h2 class="card-lego-price m-5"><%= @lego.price_per_day %>€ / per day</h2>
    </div>

    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item d-flex" style="background-color: lightyellow">
          <strong>Description:</strong>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, at pariatur alias earum repellendus officiis eum quas provident enim. Eos deserunt ipsum quidem debitis omnis sint voluptates temporibus veniam architecto?</span>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <!-- Rejected Bookings Section -->
    <div class="col-md-6">
    <% if @bookings.where(status: 'accepted').exists?%>
      <strong><h1 class = "text-center mt-2"><%= "Accepted offers" %></h1></strong>
    <% end %>
      <% @bookings.where(status: 'accepted').each do |booking| %>
        <div class="card card-lego mb-4">
          <div class="card-lego-infos">
            <div>
              <h2 class="card-title py-2"><strong>Booked by:</strong></h2>
              <p><strong><%= booking.user.email %></strong></p>
              <p>Rent start: <strong><%= booking.rent_start %></strong></p>
              <p>Rent end: <strong><%= booking.rent_end %></strong></p>
              <p>Status: <strong><%= booking.status %></strong></p>
            </div>
          <!--  <h2 class="card-lego-price m-5"><%= booking.lego_set.price_per_day %>€ / per day</h2> -->
          </div>
          <div class="card-footer text-right">
            <%= link_to "Accept", accept_lego_set_booking_path(@lego, booking), data: { turbo_method: :patch }, class: "btn btn-dark disabled" %>
            <%= link_to "Cancel booking", reject_lego_set_booking_path(@lego, booking), data: { turbo_method: :patch }, class: "btn btn-warning" %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Accepted Bookings Section -->
    <div class="col-md-6">
    <% if @bookings.where(status: 'pending').exists?%>
      <strong><h1 class = "text-center mt-2"><%= "Pending offers" %></h1></strong>
    <% end %>
      <% @bookings.where(status: 'pending').each do |booking| %>
        <div class="card card-lego mb-4">
          <div class="card-lego-infos">
            <div>
              <h2 class="card-title py-2"><strong>Request from:</strong></h2>
              <p><strong><%= booking.user.email %></strong></p>
              <p>Rent start: <strong><%= booking.rent_start %></strong></p>
              <p>Rent end: <strong><%= booking.rent_end %></strong></p>
              <p>Status: <strong><%= booking.status %></strong></p>
            </div>
            <!-- <h2 class="card-lego-price m-5"><%= booking.lego_set.price_per_day %>€ / per day</h2> -->
          </div>
          <div class="card-footer text-right">
            <%= link_to "Accept", accept_lego_set_booking_path(@lego, booking), data: { turbo_method: :patch }, class: "btn btn-dark" %>
            <%= link_to "Reject", reject_lego_set_booking_path(@lego, booking), data: { turbo_method: :patch }, class: "btn btn-warning" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
