<h1 class="text-center">Your Bookings</h1>

<% @bookings.reverse_each do |booking| %>
  <div class="container mt-5">
    <div class="card-lego mb-4 shadow-sm rounded">
      <%= cl_image_tag booking.lego_set.photo.key, class: "lego-img rounded-top" %>

      <div class="card-content p-4">
        <div class="card-lego-infos d-flex justify-content-between align-items-start mb-4">
          <div>
            <h6 class="py-2"><strong><%= booking.lego_set.set_name %></strong></h6>
            <h6 class="pt-2 mb-1"><strong>Lego Set Number:</strong></h6>
            <p><%= booking.lego_set.lego_nr %></p>
            <h6 class="mb-3"><strong>Release Year:</strong></h6>
            <p><%= booking.lego_set.release_year %></p>
            <h6 class="mb-3"><strong>Rent Start:</strong></h6>
            <p><%= booking.rent_start.strftime('%B %d, %Y') %></p>
            <h6 class="mb-3"><strong>Rent End:</strong></h6>
            <p><%= booking.rent_end.strftime('%B %d, %Y') %></p>
          </div>

          <div class="d-flex flex-column align-items-end">
            <h2 class="card-lego-price mb-3"><strong><%= booking.lego_set.price_per_day %>€ / per day</strong></h2>
            <h3 class="card-lego-status text-success"><strong><%= booking.status.capitalize %></strong></h3>
          </div>
        </div>

        <div class="card-body">
          <h5 class="mb-3" style="text-shadow: 1px 1px 1px gray"><strong>Description:</strong></h5>
          <p class="text-muted"><%= @lego.description %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
