<h1>Your Booking:</h1>
<ul>
    <li><%= @booking.lego_set.set_name %></li>
    <li><%= @booking.lego_set.lego_nr %></li>
    <li><%= @booking.lego_set.release_year %></li>
    <li><%= @booking.lego_set.price_per_day%></li>
    <li><%= @booking.rent_start %></li>
    <li><%= @booking.rent_end %></li>
</ul>
