<div class="homepage" style="background-color: lightyellow;">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2016/09/04/22/45/lego-1645498_960_720.jpg);">
  <div class="container text-center ">
    <h1>REGO</h1>
    <p>Rent your lego sets!</p>
    <nav class="navbar bg-body-tertiary col-md-3 mx-auto d-flex justify-content-center">
      <div class="container-fluid">
        <%= form_with url: root_path, method: :get, local: true, class: "d-flex", role: "search" do %>
          <%= text_field_tag :query, params[:query], class: "form-control me-4", placeholder: "Type Legoset", aria: { label: "Search" } %>
          <%= submit_tag "Search", class: "btn btn-outline-success" %>
        <% end %>

        <script>
          document.addEventListener("DOMContentLoaded", function() {
            var searchInput = document.getElementById("search-input");
            if (searchInput) {
              searchInput.placeholder = "Type Legoset";
            }
          });
        </script>

      </div>
    </nav>
  </div>
</div>

<div class="container mt-5" style="background-color: #fffacd; padding: 20px; border-radius: 25px;">
  <div class="row">
    <% if @lego_sets.any? %>
      <% @lego_sets.each do |lego| %>
        <div class="col-sm-6 col-md-4 col-lg-3 p-3">
          <div class="card mt-3 lego-card" style="width: 100%; background-color: #ffebcd; border: 1px solid gold; height: 100%;">
            <%= cl_image_tag lego.photo.key, class: "card-img-top set-img" %>
            <div class="card-body m-2 d-flex flex-column">
              <h5 class="card-title"><strong><%= lego.set_name %></strong></h5>
              <p class="card-text flex-grow-1">Releaseyear: <%= lego.release_year %> <br>
              Numparts: <%= lego.num_parts %> </p>
              <p class="card-text flex-grow-1"><%= lego.description %></p>
              <%= link_to lego_set_path(lego), class: "lego-button mt-auto" do %>
                Details
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <em>Sorry, no Lego found.</em>
    <% end %>
  </div>
</div>
